.content-div {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-div > canvas {
    border: 1px solid black;
}
.content-div > div {
    padding-top: 10px;
}
div > hr {
    width: 90%;
    /*margin: 20px 0;*/
}
div > button {
    padding: 14px;
}
.help_button {
    padding: 0;
    margin: 0;
}